<% content_for :title do %>HADashboard<% end %>

<div class="gridster"> <!-- Main Panel - PAGE 1 -->
  <ul>
    <li data-row="2" data-col="3" data-sizex="3" data-sizey="3">
      <div data-id="clock" data-view="Clock" data-color="#FFFFFF"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather" data-unit="&deg;F" data-color="#FFFFFF"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="Traffic" data-view="News" data-title="Traffic" data-interval="30" data-bgcolor="#643EBF" data-color="#FF0000"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="News" data-view="News" data-title="News" data-interval="10" data-color="#FF0000"></div>
    </li>

    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="adam_adam" data-view="Hadevicetracker" data-title="Adam" data-color="#FF0000"></div>
    </li>

    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="living_room" data-view="Haswitch" data-icon="lightbulb-o" data-title="Living Room 1" data-color="#FF0000"></div>
    </li>

    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="swag_pad" data-view="Haswitch" data-icon="lightbulb-o" data-title="Swag Pad" data-color="#FF0000"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="my_room" data-view="Haswitch" data-icon="lightbulb-o" data-title="Adam's Room" data-color="#FF0000"></div>
    </li>

    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="living_room_tv" data-view="Haswitch" data-icon="power-off" data-title="TV" data-color="#FF0000"></div>
    </li>

    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="candle_warmer" data-view="Haswitch" data-icon="fire" data-title="Candle Warmer" data-color="#FF0000"></div>
    </li>

	<li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="living_room_2" data-icon="lightbulb-o" data-view="Hadimmer" data-title="Living Room 2" data-color="#FF0000"></div>
    </li>

	<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="living_room" data-view="Hagroup" data-title="Living Room" data-color="#FF0000"></div>
    </li>
	
    <li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="night" data-view="Hamode" data-title="Good Night" data-icon="star-o"  data-changemode="Night" data-input="house_mode"></div>
    </li>
    
    <li data-row="5" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>

  <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

 </ul>
</div>
